
Code/.Rhistory
Code/old/*
intermediate_files/*
Manuscript/~$lwyn_etal_PanamaField.docx
Data/rosales
Data/bocas_shape
ncbi_upload/*
Manuscript/
old/*
Code/utils/.Rhistory
Code/utils/.Rhistory
*.bak
/Code/utils
/Code/utils_tmp
/Code/prepublish
Data/bocas_shape.zip
/prepublish
