Code/.Rhistory
Code/old/*
Data/rosales
Data/bocas_shape
ncbi_upload/*
Manuscript/
old/*
Code/utils/.Rhistory
Code/utils/.Rhistory
*.bak
/Code/utils
/Code/utils_tmp
Data/bocas_shape.zip
/prepublish
/Data/bocas_temp
intermediate_files/field_asv_models.rds.gz
intermediate_files/tank_asv_models.rds.gz
